@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D0208;
  --foreground: #00FF41;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Courier New', Courier, monospace;
}

.cyber-border {
  border: 1px solid #00FF41;
  box-shadow: 0 0 10px rgba(0, 255, 65, 0.2);
}

.cyber-glow:hover {
  text-shadow: 0 0 15px #00FF41;
}

.neon-button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid #00FF41;
  color: #00FF41;
  transition: all 0.3s;
  box-shadow: 0 0 5px #00FF41;
}

.neon-button:hover {
  background-color: #00FF41;
  color: #0D0208;
}
